html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    display: flex;/*Tipo de diagramacion*/
    flex-direction: column;
    background-color: #171717;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    z-index: 0;
    align-content: center;
}

.background{
    width: 100%;
    height: 876px; /*100vh*/
    background: url(sources/bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    z-index: 0;
}

header{
    /*width: 100%;
    height: 100vh;
    background: url(bg.jpg) no-repeat 50% 50%;
    background-size: cover;*/
}

.wrapper{/*header*/
    width: 100%;
    height: 100px;
    margin-top: 0;
    position: fixed;
    z-index: 5;
}

nav {
    /*position: fixed;*/
    width: 100%;
    line-height: 60px;
    /*height: 60px;*/
}
.content{
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}


.logo img{
    margin: 15px;
    width:250px;
    height: auto;
    float: left;
    line-height: 60px;
    position: fixed;
}



nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0,0,0,0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul{
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 16px 16px;
}

nav ul li a {
    text-decoration: none;
    color: #a3a3a3;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 900;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

.footer{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;
    /*padding: 45px;*/
    /*margin-top: 80px;*/
    height: 210px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

.footer h1{
    color: #ffffff;
    text-align: center;
    font-family:  'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-top: 0;
    height: 25px;

}

.footer li{
    list-style: none;
    margin: 10px 30px;
    display: inline-block;
    font-size: 20px;
    padding: 20px 20px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    transition: .5s;
}
.footer li:hover{
    color: #00cccc;
    border: 1px solid #00cccc;
    transition: -5s;
}

.footer p{
    color: #ffffff;
    text-align: center;
    font-family:  'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-size: 12px;
    margin-top: 0;
}


.media{
    position: relative;
    z-index: inherit;
}
.media ul{
    padding-inline-start: 0px;
}

.message{
    color: blue;
    text-align: center;
    font-family:  'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-size: 12px;
    margin-top: 0;
}

/*.copyright{
    color: #292929;
    font-size: 6px;
}*/


@media(max-width: 786px){
    .logo {
        position: fixed;
        top: 0;
        margin-top: 15px;
    }
    nav ul {
        max-height: 0;
        background: #000;
    }

    nav.black ul {
        background: #000;
    }

    .showing {
        max-height: 34em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }
}
