/* Contact us styles*/
.background{
    background: url(sources/bg2.jpg) 50% 50% no-repeat;
}

.contactus{
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    margin: 20px;
    margin-top: 60px;
    padding: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    align-content: center;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}
.contactus h2{
    margin-top: 0;
    color: #ffffff;
    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    text-align: center;
}

.input-contact{
    margin: 20px 0;
    display: block;
    width:320px;
    height: 50px;
    background: rgba(0,0,0,0.3);
    outline: none;
    border:1px solid rgba(0,0,0,0.5);
    font-weight: lighter;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;
    color: #ffffff;
}

.span-signup{
    color: #ffffff;
    font-weight: lighter;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}


.btn-contact{
    width: 332px;
    height: 50px;
    font-size: 16px;
    background: #000;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
}
#msg{
    height: 180px;
}






