{% extends "base.html" %}

{% block head %}
  {{ super() }}
    <link rel="stylesheet" href="../static/contact.css">
    <style type="text/css">
    .background{/* background: url(../static/bg2.jpg) 50% 50% no-repeat;

        width: 100%;
        height: 876px;
        background-size: cover;
        position: absolute;
        z-index: 0;*/
    }
    /*body { margin:0; padding: 0; width: 100%; height:100vh; background: url(../static/bg2.jpg) 50% 50% no-repeat; background-size: cover; display: table;}*/
    </style>
{% endblock %}

{% block content %}
    <div class="contactus">
        <div class="contact-c">
            <h1>Contact Us</h1>
        </div>
        <div class="form-c">
            <form>
                <input type="text" placeholder="Name" required autofocus/>
                <input type="email" placeholder="E-mail" required autofocus/>
                <input type="text" id="msg" placeholder="Message" required/>
                <button type="button" class="button-c">Let's Talk</button>
            </form>
        </div>
    </div>
{% endblock %}