{% extends "base.html" %}

{% block head %}
  {{ super() }}
    <link rel="stylesheet" href="../static/signin.css">
{% endblock %}
{% block content %}
    <div class="signin">
        {% if email %} <!--Control Flow Statement-->
            <p class="p-signin">You have been logged in with {{ email }}</p>
        {% else %}
        <form method="POST">
            {{ formpage.hidden_tag() }}
                <h2>Sign In</h2>
                    {% if formpage.email.errors %}
                        {{ formpage.email(class="input-signin") }}
                        {% for eroor in formpage.email.errors %}
                            <p class="p-signin">{{ eroor }}</p>
                        {% endfor %}
                    {% else %}
                        {{ formpage.email(class="input-signin", placeholder="Email")}}
                    {% endif %}
                    {% if formpage.password.errors %}
                        {{ formpage.password(class="input-signin") }}
                        {% for eroor in formpage.password.errors %}
                            <span class="p-signin">{{ eroor }}</span>
                        {% endfor %}
                    {% else %}
                        {{ formpage.password(class="input-signin", placeholder="password") }}
                    {% endif %}
                    {{ formpage.submit(class="btn-signin") }}
        </form>
         {% endif %}
        <!--
        <form>

            <h2>Sign In</h2>
            <input type="text" name="inputEmail" id="inputEmail" placeholder="Enter Username" required autofocus>
            <input type="password" name="inputPassword" id="inputPassword" placeholder="Enter Password" required>
            <button class="btnSignIn" id="btnSignIn" type="button">Sign In</button>

        </form>
        -->
    </div>
{% endblock %}